<section class="trd-hero-slider-section">
    <div class="slider-pro trd-hero-slider" id="trd-fullscreen-slider">

    <div class="sp-slides">
      <div class="sp-slide trd-main-slides">
          <!-- <div class="az-dark-color-overlay"></div> -->
          <%= image_tag "header-bg-a.jpg", class: "sp-image" %>
          <h1 class="sp-layer trd-slider-text-big" style="color:#fff;"
           data-position="left" data-vertical="-230"  data-horizontal="200"  data-show-transition="left" data-hide-transition="up" data-show-delay="1000" data-hide-delay="200">
              Get 200% Returns <span class="trd-highlight-text"style="color:#fff;">On Investment</span> Only On  <br>This Platform
           </h1>



          <div class="sp-layer trd-hero-header-btns" data-position="left" data-vertical="200" data-horizontal="200" data-show-delay="2000" data-hide-delay="200" data-show-transition="down" data-hide-transition="up">
              <ul class="btns ">
                <li>  <%= link_to "Start Now", new_user_registration_path, class: "btn" %></li>
                <li>  <%= link_to "Continue Trading", new_user_session_path, class: " btn btn-outline" %></li>
              </ul>
          </div>


    </div>


    <div class="sp-slide trd-main-slides">

        <!-- <div class="az-dark-color-overlay"></div> -->
        <%= image_tag "header-bg-b.jpg", class: "sp-image" %>
        <h1 class="sp-layer trd-slider-text-big" style="color:#fff;"
         data-position="left" data-vertical="-230"  data-horizontal="200"  data-show-transition="left" data-hide-transition="up" data-show-delay="1000" data-hide-delay="200">
            Biggest <span class="trd-highlight-text"style="color:#fff;">Trade</span> <br>Options & Profits<br> Using Our Trade System
         </h1>



        <div class="sp-layer trd-hero-header-btns" data-position="left" data-vertical="200" data-horizontal="200" data-show-delay="2000" data-hide-delay="200" data-show-transition="down" data-hide-transition="up">
            <ul class="trd-hero-header-btns btns ">
              <li>  <%= link_to "Start Now", new_user_registration_path, class: "btn" %></li>
              <li>  <%= link_to "Continue Trading", new_user_session_path, class: " btn btn-outline" %></li>
            </ul>
        </div>


  </div>

</div>
</div>
</section>
<!-- End Banner/Slider -->

<!-- End Header -->


  <!-- End BTC Ticker -->
