<!-- Features Box -->
<div class="features-box section section-pad">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 col-sm-6 res-m-bttm">
        <div class="box box-alt-bg round shadow">
          <%= image_tag "box-icon-a.png", class: "box-icon" %>
          <h6 class="ucap">Licensed Platform</h6>
          <p class="small">Work with accredited trading partners around the globe.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 res-m-bttm">
        <div class="box box-alt-bg round shadow">
          <%= image_tag "box-icon-b.png", class: "box-icon" %>
          <h6 class="ucap">NO HIDDEN FEES</h6>
          <p class="small">No hidden charges, just Transaction fee's to the blockchain network.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 res-m-bttm">
        <div class="box box-alt-bg round shadow">
          <%= image_tag "box-icon-c.png", class: "box-icon" %>
          <h6 class="ucap">INSTANT TRADING</h6>
          <p class="small">Start Trading as soon as you open a trading account. instant and easy trading.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="box box-alt-bg round shadow">
          <%= image_tag "box-icon-d.png", class: "box-icon" %>
          <h6 class="ucap">SECURE trusted</h6>
          <p class="small">Your accounts are secured with the best cyber security tools.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Features Box -->


<!--Section -->
<div class="section section-pad bg-grey">
  <div class="container">
    <div class="row row-vm">
      <div class="col-md-5">
        <div class="round mgr--30 res-m-bttm">
          <%= image_tag "photo-md-a.jpg", class: "img-shadow" %>
        </div>
      </div>
      <div class="col-md-6 col-md-offset-1 ">
    <div class="text-block">
      <h2>Bitcoin is an innovative &amp; a new kind of money.</h2>
      <p>Bitcoin was the first digital currency to be created. It is also the most respected, capitalised and traded cryptocurrency in the world. Bitcoin trading is booming, and a big reason for this is the volatility of this cryptocurrency. Currency trading allows for maximum yield when it is volatile – lots of ups and downs..</p>
      <p>Join Our platform to make secured and resistant profits against cryptocurrency trades today.</p>
      <a href="#" class="btn btn-alt">Read More</a>
    </div>
      </div>
    </div>
  </div>
</div>
<!--End Section -->
