<!-- Header -->
<header class="site-header header-s1 is-sticky">
  <!-- Topbar -->
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <ul class="social">
            <li><a href="#"><em class="fa fa-facebook"></em></a></li>
            <li><a href="#"><em class="fa fa-twitter"></em></a></li>
            <li><a href="#"><em class="fa fa-linkedin"></em></a></li>
            <li><a href="#"><em class="fa fa-google-plus"></em></a></li>
          </ul>
        </div>
        <div class="col-sm-6 al-right">
          <ul class="top-nav">
            <li><%= link_to "Help", faqs_path %></li>
            <li><a href="mailto:support@nextcoinoptions.com?subject=feedback">Support</a></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Register", new_user_registration_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- End Topbar -->
  <!-- Navbar -->
  <div class="navbar navbar-primary">
    <div class="container relative">
      <!-- Logo -->
      <a class="navbar-brand" href="index-2.html">
        <%= image_tag "logo.png", class: "logo logo-dark" %>
        </a>

      <!-- #end Logo -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav" aria-expanded="false">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="quote-btn"><%= link_to new_user_registration_path, class: "btn" do %><span>Get started</span><% end %></div>
        <div class="quote-btn"><%= link_to new_user_session_path, class: "btn" do %><span>Login</span><% end %></div>

      </div>
      <!-- MainNav -->
      <nav class="navbar-collapse collapse" id="mainnav">
        <ul class="nav navbar-nav">
          <li ><%= link_to "Home", root_path %>
          </li>




                  <li><%= link_to "FAQ", faqs_path %></li>


                  <li><a href="work-process.html">How it Works</a></li>

                  <li>
                    <%= link_to "Coin Market", page_path('buy-sell') %>
                  </li>


                  <li>
                    <%= link_to "About Us", page_path('about') %>
                </li>

          <li class="quote-btn hidden-xs hidden-sm"><%= link_to "Get Started", new_user_registration_path, class: "btn" %></li>

          <li class="quote-btn hidden-xs hidden-sm"><%= link_to "Login", new_user_session_path, class: "btn" %></li>

        </ul>
      </nav>
      <!-- #end MainNav -->
    </div>
  </div>
  <!-- End Navbar -->
</header>
