<!-- KEY TO SUCCESS SECTION -->
<section class="trd-key-success-section trd-section trd-gray-section">
    <div class="container">
        <div class="row">
            <div class="trd-section-title-wrapper col-md-12 col-sm-12 col-xs-12">
                <h1 class="trd-section-tittle">Join an our <span class="trd-highlight-text">market community</span></h1>
            </div>


            <div class="trd-key-to-success">

                <!-- Imagebox with Text -->
                <div class="col-md-4 col-sm-4 col-xs-12 trd-imagebox-with-text-wrapper">
                    <div class="trd-imagebox-with-text">
                        <div class="trd-image-wrapper">
                            <%= image_tag "sli1.jpg" %>

                        </div>

                        <div class="trd-imagebox-details">
                            <h3>
                                <a href="#">Forex Trade</a>
                            </h3>
                            <p>Trade with the best forex traders and brokers in the market, and let us help you increase your profits </p>
                        </div>
                    </div>
                </div>
                <!-- End -->

                <!-- Imagebox with details -->
                <div class="col-md-4 col-sm-4 col-xs-12 trd-imagebox-with-text-wrapper">
                    <div class="trd-imagebox-with-text">
                        <div class="trd-image-wrapper">
                            <%= image_tag "btc.jpg" %>
                        </div>

                        <div class="trd-imagebox-details">
                            <h3>
                                <a href="#">Crypto Exchange</a>
                            </h3>
                            <p>Enjoy the best digital tools in  blockchain and pair upto 300 listed digital currencies   </p>
                        </div>
                    </div>
                </div>
                <!-- End -->

                <!-- Imagebox with details -->
                <div class="col-md-4 col-sm-4 col-xs-12 trd-imagebox-with-text-wrapper">
                    <div class="trd-imagebox-with-text">
                        <div class="trd-image-wrapper">
                            <%= image_tag "stock.jpg" %>
                        </div>

                        <div class="trd-imagebox-details">
                            <h3>
                                <a href="#">Stock Exchange</a>
                            </h3>
                            <p>Our top brokers are here to help you choose wisely while enjoying best rates in the stock market</p>
                        </div>
                    </div>
                </div>
                <!-- End -->

            </div>
        </div>
    </div>
</section>
<!-- KEY TO SUCCESS SECTION END -->

<%= render "shared/btc" %>
<section class="trd-we-are-section trd-section">
  <div class="container">
    <div class="row">
      <div class="trd-section-title-wrapper col-md-12 col-sm-12 col-xs-12">
        <h1 class="trd-section-tittle">We Make  <span class="trd-highlight-text">Crypto Trading Simple & Fun </span></h1>
      </div>


      <div class="trd-we-are-trade">

        <!-- Imagebox with Text -->
        <div class="col-md-3 col-sm-6 col-xs-12 trd-imagebox-with-text-wrapper trd-fade-imgbox-text">
          <div class="trd-imagebox-with-text">
            <div class="trd-image-wrapper">
              <%= image_tag "imgbox-img-7.jpg" %>
            </div>

            <div class="trd-imagebox-details">
              <h3>
                <a href="#">Proper Planing</a>
              </h3>
              <p>Realtime Analyisis & Proper Planing

                Check asset's value in real time monitoring platform
                and decide when to trade in</p>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Imagebox with details -->
          <div class="col-md-3 col-sm-6 col-xs-12 trd-imagebox-with-text-wrapper trd-fade-imgbox-text">
            <div class="trd-imagebox-with-text ">
              <div class="trd-image-wrapper">
                <%= image_tag "imgbox-img-6.jpg" %>
              </div>

              <div class="trd-imagebox-details">
                <h3>
                  <a href="#">Easy Exchange Platform </a>
                </h3>
                <p>Crypto options have several advantages that make
                  it possible to get more profit with 100% success. An option with a fixed profit differs from conventional trading.  </p>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Imagebox with details -->
          <div class="col-md-3 col-sm-6 col-xs-12 trd-imagebox-with-text-wrapper trd-fade-imgbox-text">
            <div class="trd-imagebox-with-text">
              <div class="trd-image-wrapper">
                <%= image_tag "imgbox-img-5.jpg" %>
              </div>

              <div class="trd-imagebox-details">
                <h3>
                  <a href="#">Consulting</a>
                </h3>
                <p>Consult Our Experts On the Better Way To Trade</p>
              </div>
            </div>
          </div>
          <!-- End -->

          <!-- Text with link -->
          <div class="col-md-3 col-sm-6 col-xs-12 trd-text-link-section">
            <div class="trd-text-link-wrapper trd-gray-section">
              <h1 class="trd-section-tittle">Let’s make <br>a <span class="trd-highlight-text">better</span> business</h1>
              <p>Buisness And Money Should Be Working For You. Lets Make That Happen </p>

            </div>
          </div>
          <!-- End -->

        </div>
      </div>
    </div>
  </section>
  <!-- KEY TO SUCCESS SECTION END -->
<!-- SERVICE SECTION END -->
<br />
<!-- ABOUT BUSINESS -->

<!-- ABOUT BUSINESS END -->
