<div class="row">
  <div class="" style=" background-size: cover;width:100% height:auto; background-image:url('<%= asset_path 'page-inside-bg.jpg' %>')">


<div class="page-head section row-vm light" >


  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 style="font-size:36px;">About Us</h1>

        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!--Section -->
  <div class="section section-pad">
    <div class="container">
      <div class="row row-vm">
        <div class="col-md-5 res-m-bttm">
      <div class="text-block">
        <h2>About Next CoinOptions</h2>
        <p>We are a body of highly trained trading experts. we have grown  high profile crypto-tech which we use to monitor and analyze the markets and make the best choice for your profit growth.</p>
        <ul>
          <li>you can exchange your bitcoin directly on this platform.</li>
          <li>best trading profiles all over the world for your benefit.</li>
          <li>we take a big missoin for the growth of your buisness. </li>
          <li>Make more easily with our 24/7 support on your operations</li>
        </ul>
      </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
          <div class="video-block round">
            <%= image_tag 'video-md-a.jpg', class: "img-shadow" %>
            <a href="https://www.youtube.com/watch?v=N6NscwzbMvI" class="video-play"><span class="pe pe-7s-play"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--End Section -->

  <!--Section -->
  <div class="section section-pad bg-grey">
    <div class="container">
      <div class="section-head">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <h2 class="heading-section">Why choose Us</h2>
        <p>We Offer the best services on the market</p>
      </div>
    </div>
      </div>
      <div class="gaps size-3x"></div>
  <div class="row text-center">
    <div class="col-md-4 res-m-bttm-lg">
      <div class="box-alt">
        <div class="image-icon">
          <%= image_tag 'box-icon-f.png' %>
        </div>
        <h4>Multiple Payment Options</h4>
        <p> We make transactions easier with our multiple secure payment options.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box-alt">
        <div class="image-icon">
          <%= image_tag 'box-icon-g.png' %>
        </div>
        <h4>Strong Security</h4>
        <p>We offer the best cyber security tools for all your online operations. Your buisness is safe with us.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="box-alt">
        <div class="image-icon">
          <%= image_tag 'box-icon-h.png' %>
        </div>
        <h4>World Coverage</h4>
        <p>Our services extend to the cross ends of the world making it easy to access your account across the world.</p>
      </div>
    </div>
  </div>
    </div>
  </div>
  <!--End Section -->

  <!--Section -->
  <div class="section section-pad">
    <div class="container">
      <div class="section-head">
    <div class="row text-center">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <h2 class="heading-section">what you can do ?</h2>
        <p>You can start by creating an account with us today</p>
      </div>
    </div>
      </div>
      <div class="gaps size-3x"></div>
      <div class="row text-center">
        <div class="col-md-4 col-sm-6">
          <div class="service-box shadow round">
            <div class="service-thumb">
              <%= image_tag 'service-thumb-a.jpg' %>
            </div>
            <div class="service-entry">
              <h5>Buy Bitcoin Online</h5>
              <p>You can buy bitcoin directly into our platform for trading  through our secured buy windows. </p>

              <%= link_to orders_path, class: "btn-icon" do %>
                <span class="pe pe-7s-angle-right"></span>
                <% end %>
            </div>
          </div>
      <div class="gaps size-3x"></div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box shadow round">
            <div class="service-thumb">
              <%= image_tag 'service-thumb-b.jpg' %>
            </div>
            <div class="service-entry">
              <h5>sell bitcoin</h5>
              <p>Sell your profits directly. With our secured payment system you can sell your coins for fiat instantly</p>
              <%= link_to orders_path, class: "btn-icon" do %>
                <span class="pe pe-7s-angle-right"></span>
                <% end %>
              </div>
          </div>
      <div class="gaps size-3x"></div>
        </div>
        <div class="col-md-4 col-sm-6">
          <div class="service-box shadow round">
            <div class="service-thumb">
              <%= image_tag 'service-thumb-c.jpg' %>
            </div>
            <div class="service-entry">
              <h5>earn passive income</h5>
              <p>Earn 10% on your investment daily with our platform. Our Auto trading system makes trading easier and more accurate</p>
              <%= link_to new_user_registration_path, class: "btn-icon" do %>
                <span class="pe pe-7s-angle-right"></span>
                <% end %>
              </div>
              </div>
          </div>
      <div class="gaps size-3x"></div>
        </div>
      </div>
      </div>

        <!-- Section -->
        <div class="section section-pad cta-section light has-bg dark-filter", style="background-image:url('<%= asset_path 'cta-bg.jpg' %>')">
          <div class="imagebg">

        </div>
          <div class="container">
            <div class="row text-center">
              <div class="col-md-8 col-md-offset-2">
                <h3>Are you searching for a quick, cheap, and safe way to buy Bitcoins? </h3>
                <%= link_to "Buy Bitcoin Now", new_order_path, class: "btn btn-md" %>
              </div>
            </div>
          </div>
        </div>
        <!-- End Section -->
