
<%= simple_form_for(@withdraw) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :amount, placeholder: "$5000", class: "form-control border-input" %>
    <%= f.input :payment_method, as: :select, :collection => [ "Bank Transfer"], class: "form-control border-input "  %>
    <%= f.input :email, class: "form-control border-input" %>
    <%= f.input :bankName, label: "Bank Name", class: "form-control border-input" %>
    <%= f.input :acctName, label: "Account Name", class: "form-control border-input" %>

    <%= f.input :accountNumber, label: "Account Number", class: "form-control border-input" %>
<p> For Bitcoin </p>
    <%= f.input :bitcoin, label: "Input Bitcoin Wallet Address", class: "form-control border-input" %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
