<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @withdraw.amount %>
</p>

<p>
  <strong>Payment type:</strong>
  <%= @withdraw.payment_type %>
</p>

<p>
  <strong>Email:</strong>
  <%= @withdraw.email %>
</p>

<p>
  <strong>User:</strong>
  <%= @withdraw.user %>
</p>

<%= link_to 'Edit', edit_withdraw_path(@withdraw) %> |
<%= link_to 'Back', withdraws_path %>
