<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Trade History</h4>
                        <p class="category">Here are trade result in the last 24hrs</p>
                    </div>
                    <div class="content table-responsive table-full-width">
                        <table class="table table-striped">
                            <thead>
                            </thead>
                            <thead>
                                <tr>
                                  <th>Entry Time</th>
                                    <th>Currency</th>
                                    <th>Amount Invested</th>
                                    <th>Entry Rate </th>
                                      <th>Created Date</th>
                                          <th>Trade Type</th>
                                            <th>Status</th>
                                              <th>Returns</th>



                                </tr>
                            </thead>
                            <tbody>
                                    <% @trades.each do |b| %>
                                    <tr>
                                      <td>
  <%= b.entry%>
                                      </td>
                                      <td>
                                        <%= b.currency %>
                                      </td>
                                      <td>
                                        <%= b.deposit %>
                                      </td>

                                      <td>
                                        <%=b.rate %>
                                      </td>
                                      <td>
                                        <%=b.created_at.strftime("%d-%b-%Y") %>
                                      </td>
                                      <td>
                                        <%= b.tradetype %>
                                      </td>
                                      <td>
                                        <%= b.status %>
                                      </td>
                                      <td>
                                        <%= b.return%>
                                      </td>
                                    </tr>
                                    <% end %>
                                  </tbody>
                            </table>

                        </div>
                    </div>
                </div>
