<!DOCTYPE html>
<html>
  <head>
    <title>NextCoinOptions || Online  Account </title>
    <%= csrf_meta_tags %>
    <meta name="description" content="Your Online trading and management accounts built with the best & secure softwares. "/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'accounts', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'accounts', 'data-turbolinks-track': 'reload' %>
<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'ed42491b-e937-44a5-98b2-ef1dffb46a82', f: true }); done = true; } }; })();</script>
  </head>

  <body>
    <div class="wrapper">
  <%= render "shared/sidebar" %>
      <%= render "shared/headermenu" %>

      <% if notice %>
      <div class="col-md-8 col-md-offset-2">


      <div class="alert alert-info alert-with-icon" data-notify="container">
                                    <button type="button" aria-hidden="true" class="close">×</button>
                                    <span data-notify="icon" class="ti-bell"></span>
                                    <span data-notify="message"><%= notice %>.</span>
                                </div>
                              </div>
                                <% end %>

    <%= yield %>

      </div>

    <script>
  (function(b,i,t,C,O,I,N) {
    window.addEventListener('load',function() {
      if(b.getElementById(C))return;
      I=b.createElement(i),N=b.getElementsByTagName(i)[0];
      I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
    },false)
  })(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');
</script>
  </body>
  </html>
