<!DOCTYPE html>
<html class="js">
<head>
  <title>Next Coinoptions || Top online trade management system using powerful trading portfolios and best strategies</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Next CoinOptions offers you the best trading system suited for your passive income needs. Enjoy trading with powerful portfolio's and trading patterns and make more everyday.">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<script type='text/javascript' data-cfasync='false'>window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: 'ed42491b-e937-44a5-98b2-ef1dffb46a82', f: true }); done = true; } }; })();</script>
</head>

<body>
  <%= render "shared/header" %>
  <% if notice %>
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="alert alert-success fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <p><%= notice %> </p>
      </div>
    </div>
  </div>
  <% elsif alert %>
  <div class="container">
    <div class="col-md-8 col-md-offset-2">
      <div class="alert alert-danger fade in">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        <p><%= alert %></p>
      </div>
    </div>
  </div>
  <% end %>
  <%= yield %>
  <%= render "shared/footer" %>


  <script>
    (function(b,i,t,C,O,I,N) {
      window.addEventListener('load',function() {
        if(b.getElementById(C))return;
        I=b.createElement(i),N=b.getElementsByTagName(i)[0];
        I.src=t;I.id=C;N.parentNode.insertBefore(I, N);
      },false)
    })(document,'script','https://widgets.bitcoin.com/widget.js','btcwdgt');
  </script>
</body>
</html>
